<!DOCTYPE html>

<html lang="en">
<head>
<title>Audit Area</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<!-- <link rel="icon" type="image/png" href="/images/icons/favicon.ico" /> -->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/bootstrap/css/bootstrap.min.css">
<script	src="/vendor/jquery/jquery-3.5.1.min.js"></script>
<script	src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/vendor/datatables/dataTables.bootstrap4.min.css">
<script	src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script	src="/vendor/datatables/moment.min.js"></script>
<script	src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- For charts -->	
		<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>		
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<!--===============================================================================================-->
<script type="text/javascript">
$(document).ready( function() {
	getAuditCompany();
	getCashAuditStatus();
});


function logout(){
	window.location.href = "/logout";
}

function gotoCashAuditFindings(){
	//alert(11);
	window.location.href = "/auditReport";
}

function getAuditCompany(){
	$.ajax({
		url : "/getAuditCompany",
		type : "GET",
		async : false,
		contentType : "application/j-son;charset=UTF-8",
		dataType : "json",
		contentType: "json",
		crossDomain : true,
		success : function(data) {
			console.log(data);
			$('#clientCompany').val(data.auditCompany);
			$('#cashYear').val(data.audityear);
			showCompanyLabel();
			
		}
	});
}

function showCompanyLabel(){
	var companyName = $("#clientCompany>option:selected").text();
	var finyear = $("#cashYear>option:selected").text();
	var comments = '';
	
	 $("#companyfinalabel").html(companyName +" | "+finyear);
	 $('#companyhead').css("display","block");
}


function getCashAuditStatus() {
	
	//var auditMonth = $("#auditMonth>option:selected").val();
	var auditYear = $("#cashYear>option:selected").val();
	var auditCompany = $("#clientCompany>option:selected").val();
	var companyName = $("#clientCompany>option:selected").text();
	var finyear = $("#cashYear>option:selected").text();
	var comments = '';
	var filedetails='';
					

	jQuery.ajax({
	    url: '/getAuditStatus',
	    type: "POST",
	    async: false,
	    cache: false,
	    data: "auditYear=" + auditYear + "&auditCompany="
	     + auditCompany,
	    dataType: "json",
	    success: function (data) {
	        console.log(data.length);
	       
	       
	        $.each(data, function (index, itemData) {
	            console
	            .log(data[index]
	                 + ": "
	                 + data[index].sub_status_name
	                 + "\n");

	            
	            if (data[index].sub_status_name == 'CashPayment Above INR 20000') {
	            	//alert("debtor");
	                $('#cashpaymentcol').css(
	                    "background-color",
	                    "green");
	                $('#cashpaymentcol').html("Complete");
	                $('#cashpaymentcol').css(
		                    "color",
		                    "black");
	               $('#commentcashpayment').html(data[index].comment);
	               if(data[index].fileDetails !=null)
	               		$('#attachedcommentcashpayment').html("<button style='width: 55px;' class='btn' onclick=downloadfile('"+data[index].fileDetails+"')><i class='fa fa-download' aria-hidden='true'></i></button>");
	              
	            }
	            if (data[index].sub_status_name == 'Cash in Hand everyday Opening Balance + Debit - Credit') {
	            	//alert("debtor");
	                $('#everycol').css(
	                    "background-color",
	                    "green");
	                $('#everycol').html("Complete");
	                $('#everycol').css(
		                    "color",
		                    "black");
	               $('#commentevery').html(data[index].comment);
	               if(data[index].fileDetails !=null)
	               		$('#attachevery').html("<button style='width: 55px;' class='btn' onclick=downloadfile('"+data[index].fileDetails+"')><i class='fa fa-download' aria-hidden='true'></i></button>");
	              
	            }
	            if (data[index].sub_status_name == 'Multiple Payments in cash to a Single Vendor') {
	            	//alert("debtor");
	                $('#multiplecol').css(
	                    "background-color",
	                    "green");
	                $('#multiplecol').html("Complete");
	                $('#multiplecol').css(
		                    "color",
		                    "black");
	               $('#multiplecomment').html(data[index].comment);
	               if(data[index].fileDetails !=null)
	               		$('#multipleattach').html("<button style='width: 55px;' class='btn' onclick=downloadfile('"+data[index].fileDetails+"')><i class='fa fa-download' aria-hidden='true'></i></button>");
	              
	            }
	            
	            comments = comments + data[index].comment+" ";

	        });
	      
	    },
	    error: function (e) {
	    }

	});
}

function downloadfile(file){

	//window.open("http://localhost:9093/downloadPDF?fileName="+file, '_blank');
	window.open("http://jharvis.com:9093/downloadPDF?fileName="+file, '_blank');
	
}



</script>
<style>
li {
	display: inline-block;
    padding: 12px;
    cursor:pointer;
}
ul#navigatiobar{
	/* padding:15px; */
}
li:hover{
	background-color: #993c33;
}
li#uploadright{
	float:right;
	/* padding:0px; */	
}
li#companyhead{
	float:right;
	/* padding:0px; */	
}
.active{
	background-color:#c65353;
	
}
</style>
</head>
<body>

	<section class="row">
		<div class="col-lg-12 tm-form-header pl-5 pr-5">
			<h2 class="tm-container-inner tm-text-color-white" style="font-size:1.5rem">Q -Audit - Audit Area</h2>
			<h2 class="tm-container-inner tm-text-color-white"
				style="float: right"> <span style="font-size: 1rem;">Welcome Admin</span>&nbsp;&nbsp;
			
				<button id="logoutbtn" style="color: white;" onclick="logout()">
					<i class="fa fa-power-off" aria-hidden="true"></i>
				</button>

			</h2>
		</div>
		<div class="col-lg-12 pl-2 pl-sm-3 pl-md-5 pr-2 pr-sm-3 pr-md-5">
			<form method="POST" enctype="multipart/form-data" id="fileUploadForm"
				action="/uploadfile" class="row tm-container-inner tm-contact-form">
			
				<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"> -->
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<br>
					<div class="row">

						<div class="col-sm-4">
							<div class="form-group">
								<select name="clientCompany" id="clientCompany">
									<option value="">Select Client</option>
									<option value="1">Confitech</option>
									<option value="2">Qolaris</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
							<select name="cashYear" id="cashYear">
									<option value="" selected>Select Year</option>
									<option value="2020">2019-20</option>
									<option value="2019">2018-19</option>
									<option value="2018">2017-18</option>

								</select>
								<!-- <select name="filetype" id="filetype">
									<option value="">Select Type</option>
									<option value="cashbook">Cashbook</option>
									<option value="ledger">Ledger</option>

								</select> -->
							</div>
						</div>
						<div class="col-sm-4">
							<div class="upload-btn-wrapper">
								<button type="submit" style="cursor: pointer; padding: 15px;"
									class="btn">Upload File</button>
								<input type="file" name="uploadfile" id="uploadfile"
									onchange="this.form.submit()" />
							</div>
						</div>
						<div style="padding-left: 2%; padding-right: 100px;"
							th:if="${message}">
							<span th:text="${message}" />
							<!--  <a href="/file">Download Excel File from MySQL</a> -->
						</div>
					</div>
				</div>
								
				<div class="col-sm-12">
					<!-- Navigation bar -->
					<ul class="" id="navigatiobar" style="background-color: #993333">
						<li class=""><a class="" href="/auditStatus"
							style="color: white">Audit Summary</a></li>
						<li class=""><a class="" href="/materiality"
							style="color: white">Materiality</a></li>
						<li class="active"><a class="" href="/auditArea"
							style="color: white;">Audit Areas</a></li>

						<li class=""><a class="" href="/auditReport"
							style="color: white">Audit Findings</a></li>


						<li class=""><a class="" href="/auditDetailsView"
							style="color: white">Audit Data</a></li>
						<!-- <li class="" id="uploadright"><a class="" href="/uploadfile"
							style="color: white;">Upload File</a></li> -->
						<li class="" id="companyhead" style="display: none;"><a
							class="" style="color: white;"><span id="companyfinalabel"></span></a></li>

					</ul>
					<!-- Navigation bar -->
				</div>

			</form>
		</div>
	</section>
	<div class="container-fluid" style="padding-left:100px;padding-right:100px;">
		<div class="row">
			<div class="col-lg-2">
				<ul class="" id="sidebar" style="background-color: #993333">
					<li class="active" style="display: block;"><a class=""
						href="/auditArea" style="color: white">Cash</a></li>

					<li class="" style="display: block"><a class=""
						href="/bankAudit" style="color: white">Bank</a></li>

					<li class="" style="display: block"><a class=""
						href="/fixedAsset" style="color: white">Fixed Assets</a></li>

					<li class="" style="display: block"><a class=""
						href="/debtorsAsset" style="color: white">Debtors</a></li>

					<li class="" style="display: block"><a class="" href="/investment"
						style="color: white">Investments</a></li>
					<li class="" style="display: block"><a class="" href="/debtorsandothers"
						style="color: white">Debtors and other receivables</a></li>
					<li class="" style="display: block"><a class="" href="/inventory"
						style="color: white">Inventory</a></li>
					<li class="" style="display: block"><a class="" href="/loansadvance"
						style="color: white">Loans and Advances</a></li>
					<li class="" style="display: block"><a class="" href="/depreciation"
						style="color: white">Depreciation</a></li>
				</ul>
			</div>
			<div class="col-lg-10">
				<!-- <div class="upload-btn-wrapper" style="float: right;">
					<button id="generateReport"
						onclick="window.location.href = '/auditReport';" class="btn"
						style="float: right; padding: 15px;">Upload file</button>
				</div>
				<br> <br> <br> -->
				<table class="table table-striped" id="cashbookfiledetails"
					width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Audit Checkpoint</th>
							<th>Status</th>
							<th>Comments</th>
							<th>Action</th>
							<th>Attach document ref</th>

						</tr>
						
					</thead>
					<tbody>
						<tr>
							<td>Physical verification of balances</td>
							<td id="multiplecol">Pending</td>
							<td id="multiplecomment"></td>
							<td><button style="width: 55px;" class="btn"  onclick="gotoCashAuditFindings()"><i class="fa fa-search" aria-hidden="true" ></i></button></td>
							<td id="multipleattach"></td>
						</tr><tr>
							<td>Abnormality in cash holdings </td>
							<td id="everycol">Pending</td>
							<td id="commentevery"></td>
							<td><button style="width: 55px;" class="btn" onclick="gotoCashAuditFindings()"><i class="fa fa-search" aria-hidden="true" ></i></button></td>
							<td id="attachevery"></td>
						</tr>
						<tr>
							<td>Making cash payments more than Rs.20,000/-</td>
							<td id="cashpaymentcol">Pending</td>
							<td id="commentcashpayment"></td>
							<td><button style="width: 55px;" class="btn" onclick="gotoCashAuditFindings()"><i class="fa fa-search" aria-hidden="true" ></i></button></td>
							<td id="attachedcommentcashpayment"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<p class="text-center small tm-copyright-text mb-0">
				Copyright &copy; <span class="tm-current-year">2020</span> <a href='http://qolarisdata.com/'>Qolaris Data India Pvt Ltd.</a> All Rights Reserved | 
Designed by <a href='http://confitechsol.com/'>Confitech Solutions</a>
			</p>
		</div>
	</div>

	<!-- Supporting document Modal -->
	<div class="modal fade" id="supportingdocmodal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Supporting</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
					<form action="/uploadSupportingfiles" enctype="multipart/form-data" method="POST" >
						<input type="hidden" id="vccno" name="vccno"> 
						<input type="file" name="supportingdocs"><br><br>
						<textarea rows="5" cols="21" id="supportingcomments" class="form-control" placeholder="Comments..." name="comments"></textarea>
						<br>
						<button class="btn btn-secondary"
						 style="float:right; ">Done</button>
					</form><br><br>
					<table class="table table-striped" id="supportinghistory" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>Voucher No.</th>
								<th>Files</th>

							</tr>
						</thead>
					</table>
				</div>
				<!-- <div class="modal-footer">
					
					
				</div> -->
			</div>
		</div>
	</div>
	
	<!-- cash in hand Modal -->
	<div class="modal fade" id="cashinhandModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="file" name="cashinhandfile" id="cashinhand"><br><br>
					<textarea rows="5" cols="21" id="cashinhandcomment" class="form-control" placeholder="Comments..."></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" onclick="getDoneCashHand()">Done</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
	
	<!-- Cash payment above 20000 -->
	<div class="modal fade" id="cashpayment" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="file" name="cashpayabovefile" id="cashpayabove"><br><br>
					<textarea rows="5" cols="21" id="cashpaymentabove" class="form-control" placeholder="Comments..."></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" onclick="getDoneCashPayment()">Done</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
	
	<!-- Multiple payment modal -->
	<div class="modal fade" id="cashmultiple" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="file" name="multipaymentfile" id="cashpaymultiple"><br><br>
					<textarea rows="5" cols="21" id="multiplepaymentcomment" class="form-control" placeholder="Comments..."></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" onclick="getDoneMultiplePayment()">Done</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>